<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>
</head>
<body>
<h1>Image Page</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi delectus deserunt dolor esse facilis id magni non placeat, porro quaerat sequi sint tenetur ut. Id mollitia officia quod rerum veritatis!</span><span>Aut blanditiis commodi corporis dolor dolore eum ex expedita hic, illum iste laudantium maiores maxime natus necessitatibus nisi nulla pariatur, perspiciatis porro quae quod rerum sapiente sit tenetur veritatis voluptatibus.</span><span>Accusantium animi aspernatur delectus explicabo facilis harum iusto laudantium modi nam nemo porro, possimus praesentium quidem quod saepe tempora tempore velit voluptas! Atque cum dolorem magnam nisi quaerat quia repudiandae?</span></p>

</body>
</html>